<!doctype html>
<html lang="es">

<head th:fragment="head">
    <!-- Etiquetas <meta> obligatorias para Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Enlazando el CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../../css/main.css}">
    <title>Escuela Técnica Padilla</title>
</head>

<body>
    <div class="main-container">
        <div th:fragment="header" class="header">

            <div class="row justify-content-center">
                <div class="col-2 mx-auto">
                    <img id="logo" class="mx-auto d-block" th:src="@{/img/escudo3107.png}" alt="escudo eet3107">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-2 mt-4 t mx-auto ">
                    <p th:if="${titulo}" th:text="${titulo}" class="h1 text-light text-center mx-auto">Sistema de
                        Inscripciones E.E.T 3107 Juana
                        Azurduy de Padilla</p>
                </div>
            </div>
        </div>
        <!--header-->

        <div class="row px-5">
            <div class="col-12  pt-4 body-container">
                <div class="col-4 mx-auto">
                    <h2 class="text-center mb-5">Aqui va el formulario de Login</h2>
                </div>
                <div class="col-12  ">
                    <div class="col-6 mx-auto">
                        <form action="#">
                            <input id="fecha" name="brith" type="date" min="2020-01-01" max="2021-03-31">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--main-container-->

        <scripts th:fragment="scripts">
            <!-- Opcional: enlazando el JavaScript de Bootstrap -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
            <script src="./js/pruebas.js"></script>
        </scripts>
</body>
</div>
<!--body container-->

<!--ALERTS-->
<div th:fragment="alert (type,message)" th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}"
    th:classappend="'alert-'+${type}" class="alert alert-danger" role="alert">
    <span th:text="${message}">TextoAlert</span>
</div>
<!--cajas opciones panel-->
<div th:fragment="panel-box(title,img)" class=" col-lg-6 col-sm-12 col-md-12 mt-4">
    <div class="row justify-content-center">
        <div class="card tarjeta col-5" style="width: 500px;height:500px">
            <img th:src="@{${'/img/'+img}}" class="card-img-top">
            <div class="card-body">
                <p th:text="${title}" class="card-text text-center h3"></p>
            </div>
        </div>
    </div>
</div>
<!--Boton salir-->
<div th:fragment="btn-salir" class="col-1 m-5 ">
    <div class=" justify-content-center btn-salir text-center">
        <img class="img-fluid" th:src="@{/img/logout.png}" alt="cerrar sesión">
        <p class="h3 text-dark">Salir</p>
    </div>
</div>

<!--FOOTER-->
<footer th:fragment="footer" class="footer">
    <div class="row p-2 justify-content-start">
        <div class="col-12">
            <div class="col-4">
                <p class="small text-light font-italic">
                    Contacto: eet3107@gmail.com
                </p>
                <p class="small text-light font-italic">
                    Teléfono: 4236980
                </p>
                <p class="small text-light font-italic">
                    Dirección: Lavalle 875 Salta Capital
                </p>>
            </div>
        </div>
    </div>
</footer>

</html>